{% extends 'basic.html' %}
{% block titles %} Sky High {% endblock %}

{% block css %}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;


{% endblock %}
{% block downloadactive %} active{% endblock downloadactive %}
{% block downloaddisabled %} 

false

{% endblock downloaddisabled %}



    {% block body %}
<!-- <pre>
    Welcome {{request.user}}
    <pre>
     username :   {{a.username}}
     first_name:  {{a.first_name}}
     birthday :   {{a.birthday}}
     last_name : {{a.last_name}}
     rollno    :  {{a.rollno}}
     Subject_c   : {{a.Subject_c}}
       Subject_Networking : {{a.Subject_Networking}}
       Subject_java : {{a.Subject_java}}
      Subject_python  : {{a.Subject_python}}
      email  : {{a.email}}
       birthday : {{a.birthday}}


    </pre>
   </pre> -->
   <div class="jumbotron" style="background-color:#F2900F">
     <h1 class="display-4">Sky High Institue of West Bengal</h1>
     {% if a.Subject_c == -1 %}
     <p>After teh exams are being conducted, you can simply login and check your results. You can also download your result by clicking on Download option.</p>
            {% else %}
     <p class="lead">If you haven't done well, it's time you pull up your socks and work well so that your results come better the next time.</p>
     {% endif %}
     <hr class="my-4">
     
     <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
     <!-- <div class="d-inline p-2 "> -->

       <table style="width:50%; float:left" >
     <tr>
       <th>Username :</th>
       <td>{{a.username}}</td>
     </tr>
     <tr>
       <th>Name  : </th>
       <td>{{a.first_name}} {{a.last_name}} </td>
     </tr>
     <tr>
       <th>Roll no:</th>
       <td>{{a.rollno}}</td>
     </tr>
   </table>

     <!-- </div> -->
     <!-- <div class="d-inline p-2 "> -->

       <table  style="width:50%;">

     <tr>
       <th>Email:</th>
       <td>{{a.email}}</td>
     </tr>
     <tr>
       <th>Birthday:</th>
       <td> {{a.birthday}}</td>
     </tr>
     <tr>
       <th>Phone:</th>
       <td>123-45-678</td>
     </tr>
   </table>

     </div>


{% if a.Subject_c == -1 %}
<div class= "container"  >
  <div class="text-center">
    <button class="btn btn-primary" type="button" disabled>
  <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
  Marks will be uploaded soon...
</button>
</div>
</div>
{% else %}
<div class= "container" style = "border-style: inset;background-color:#DB4BE3" >
  <div class="container">


    <table  class="table table-hover"  >
      <thead>
        <tr>
          <th scope="col">Subject </th>
          <th scope="col">Marks</th>

        </tr>
      </thead>
      <tbody>

        <tr>
              <th scope="col">C</th>
              <td scope="row">{{a.Subject_c}}</td>
            </tr>
            <tr>
              <th scope="col">Networking </th>
              <td scope="row">{{a.Subject_Networking}}</td>
            </tr>
            <tr>
              <th scope="col">Java</th>
              <td scope="row">{{a.Subject_java}}</td>
            </tr>
            <tr>
              <th scope="col">Python</th>
              <td scope="row">{{a.Subject_python}}</td>
            </tr>
      </tbody>
    </table>

      </div>

</div>
<div class="text-center">

  <a type="button" class="btn btn-primary btn-sm" href="/pdf">Print</a>
</div>
<br>
<br><br>
{% endif %}
<!-- FOOTER -->
<footer  style ="position: fixed;left: 0;bottom: 0;width: 100%;color: white;background-color: red;
text-align: center;">
  <p class="float-right" style ="background-color: red"><a href="#">Back to top</a></p>
  <p>&copy;AK <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>

{% endblock %}
